{% extends "code/_base_code.html" %}

{% block page_title %}{{ code.name }} - {{ super() }}{% endblock %}

{% block content %}
<h1 class="maintopic"><a href="{{ url('code_list') }}">Tools</a></h1>

<div class="page-block">
    <h2 id="code-name">{{ code.name|typogrify }}</h2>

<!-- {% include "code/_code_category_and_tags_overline.html" %} to get tags showing up -->
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#whatdoesitdo" data-toggle="tab">What does it do?</a></li>
  <li><a href="#howwasitmade" data-toggle="tab">How was it made?</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="whatdoesitdo">

        {% if code.screenshot %}
        <div class="image-inset-left-wrapper">
            <img src="{{ thumbnail(code.screenshot, "400") }}" alt="{{ code.name }}">
        </div>
    {% endif %}

  <h5><i class="icon-home"></i><a id="code-url" href="{{ code.url }}"> Website</a></h5>
    <div id="code-link-lists">
        {% with organization_link_list = code.get_live_organization_set() %}
        {% include "people/_organization_link_list.html" %}{% endwith %}

        {% with person_link_list = code.get_live_people_set() %}
        {% include "people/_person_link_list.html" %}{% endwith %}
    
    </div>

        <h3 class="section-headings">What is it?</h3>
        {% if code.summary %}{{ code.summary|linebreaks|typogrify|safe }}{% endif %}

        <h3 class="section-headings">Advantages</h3>
            {% if code.pros %}{{ code.pros|linebreaks|typogrify|safe }}{% endif %}

        <h3 class="section-headings">Disadvantages</h3>
            {% if code.cons %}{{ code.cons|linebreaks|typogrify|safe }}{% endif %}

        {% with article_link_list = code.get_live_article_set() %}
        {% include "articles/_article_link_list.html" %}{% endwith %}

        <h5>{% include "code/_code_category_and_tags_overline.html" %}</h5>
  </div>
  <div class="tab-pane fade" id="howwasitmade">

            {% if code.description %}{{ code.description|linebreaks|typogrify|safe }}{% endif %}
<div class="container-fluid fill">
    <div class="row-fluid">
        <div class="span6">
     <ul class="link-list" id="code-details">
        {% if code.seeking_contributors %}
            <li>{% if code.source_code %}<i class="icon-home"></i><a id="code-url" href="{{ code.url }}">Website</a>
                {% else %}
                {% endif %}
            <li>{% if code.source_code %}<i class="icon-code"></i><a id="code-source_code" href="{{ code.source_code }}">Source code</a>
                {% else %} 
                <i class="icon-lock"></i>No source code available
                {% endif %}
            <li>{% if code.documentation %}<i class="icon-list-alt"></i><a id="code-documentation" href="{{ code.documentation }}">Documentation</a>
                {% else %}
                <i class="icon-lock"></i>No code documentation available
                {% endif %}
            <li>{% if code.is_active %}<i class="icon-ok"></i>Active project{% endif %}
        {% else %}
        Source code available: not applicable
        {% endif %}
    </ul>

 <div id="code-link-lists">
        {% with person_link_list = code.get_live_people_set() %}
        {% include "people/_person_link_list.html" %}{% endwith %}
    
        {% with organization_link_list = code.get_live_organization_set() %}
        {% include "people/_organization_link_list.html" %}{% endwith %}
    
        {% with basic_link_list = code.codelink_set.all() %}
        {% include "utils/_basic_link_list.html" %}{% endwith %}
    </div>

        </div>

<div class="span6">
         <ul class="link-list" id="code-details">
            {% if code.seeking_contributors %}
        <h3 class="subhead list-header">Source code statistics</h3>
        {% if code.repo_last_push %}
            <li><i class="icon-github"></i><span>Forks: {{ code.repo_forks|dj_intcomma }}</span>
            <li><span>Watchers: {{ code.repo_watchers|dj_intcomma }}</span>
            <li><span>Last push: {{ dj_date(code.repo_last_push, "l, F j, Y") }}</span>
        {% else %}
       <i class="icon-lock"></i> No source code statistics available
        {% endif %}
     </ul>
            {% else %} {% endif %}

        {% with article_link_list = code.get_live_article_set() %}
        {% include "articles/_article_link_list.html" %}{% endwith %}

  </div>
</div>

</div>
    </div>
</div>

</div>
{% endblock content %}


{% block site_js_extra %}
{% if 'github.com/' in code.url %}{# load the in-page repo browser #}
<script src="{{ static('code/js/repo.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    var tmpGithubValues = '{{ code.url }}'.split('github.com/')[1].split('/');
    var sourceData = {
        githubUser: tmpGithubValues[0],
        githubRepo: tmpGithubValues[1],
        githubMasterBranch: '{{ code.repo_master_branch }}'
    };
    loadRepo(
        sourceData['githubUser'], sourceData['githubRepo'], sourceData['githubMasterBranch']
    );
});

function loadRepo(user, repo, branch) {
    var repoContainer = '<div class="code-repo-browse"><h5>Browse this repo</h5><div id="repo"></div></div>';
    $('#code-link-lists').addClass('code-repo-meta').before(repoContainer);
    $('#repo').repo({
        user: user,
        name: repo,
        branch: branch
    });
}
</script>
</div>
{% endif %}
{% endblock %}

