{% extends "code/_base_code.html" %}

{% block page_title %}{{ code.name }} - {{ super() }}{% endblock %}

{% block content %}
<h1 class="maintopic"><a href="{{ url('code_list') }}">Tools</a></h1>

<div class="page-block">
    <h2 id="code-name">{% include "code/_code_category_and_tags_overline.html" %}{{ code.name|typogrify }}</h2>

    {% if code.screenshot %}
        <div class="image-inset-right-wrapper">
            <img src="{{ MEDIA_URL }}{{ thumbnail(code.screenshot, "300") }}" alt="{{ code.name }}">
        </div>
    {% endif %}


 <aside>
     <ul class="link-list" id="code-details">
        
            <li><i class="icon-home"></i><a id="code-url" href="{{ code.url }}">{{ code.url }}</a>
            <li>{% if code.source_code %}<i class="icon-code" style="margin-left: 1em;"></i><a id="code-source_code" href="{{ code.source_code }}">Source code</a>{% endif %}
            <li>{% if code.documentation %}<i class="icon-list-alt" style="margin-left: 1em;"></i><a id="code-documentation" href="{{ code.documentation }}">Documentation</a>{% endif %}
            <li>{% if code.is_active %}<i class="icon-ok" style="margin-left: 1em;"></i>Active project{% endif %}
            <li>{% if code.seeking_contributors %}<i class="icon-ok" style="margin-left: 1em;"></i>Seeking contributors{% endif %}
    </ul>

    <div id="code-link-lists">
        {% with person_link_list = code.get_live_people_set() %}
        {% include "people/_person_link_list.html" %}{% endwith %}
    
        {% with organization_link_list = code.get_live_organization_set() %}
        {% include "people/_organization_link_list.html" %}{% endwith %}
    
        {% with article_link_list = code.get_live_article_set() %}
        {% include "articles/_article_link_list.html" %}{% endwith %}
    
        {% with basic_link_list = code.codelink_set.all() %}
        {% include "utils/_basic_link_list.html" %}{% endwith %}
    </div>

     <ul class="link-list" id="code-details">
        <h3 class="subhead list-header">Source code statistics</h3>
        {% if code.repo_last_push %}
            <li><i class="icon-github"></i><span>Forks: {{ code.repo_forks|dj_intcomma }}</span>
            <li><span>Watchers: {{ code.repo_watchers|dj_intcomma }}</span>
            <li><span>Last push: {{ dj_date(code.repo_last_push, "l, F j, Y") }}</span>
        {% endif %}
     </ul>
 </aside>

        <h3 class="section-headings">What is it?</h3>
            {% if code.description %}{{ code.description|linebreaks|typogrify|safe }}{% endif %}

        <h3 class="section-headings">Useful to find out more about...</h3>
            {% if code.summary %}{{ code.summary|linebreaks|typogrify|safe }}{% endif %}

        <h3 class="section-headings">Advantages</h3>
            {% if code.pros %}{{ code.pros|linebreaks|typogrify|safe }}{% endif %}

        <h3 class="section-headings">Disadvantages</h3>
            {% if code.cons %}{{ code.cons|linebreaks|typogrify|safe }}{% endif %}

</div>
{% endblock content %}


{% block site_js_extra %}
{% if 'github.com/' in code.url %}{# load the in-page repo browser #}
<script src="{{ static('code/js/repo.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    var tmpGithubValues = '{{ code.url }}'.split('github.com/')[1].split('/');
    var sourceData = {
        githubUser: tmpGithubValues[0],
        githubRepo: tmpGithubValues[1],
        githubMasterBranch: '{{ code.repo_master_branch }}'
    };
    loadRepo(
        sourceData['githubUser'], sourceData['githubRepo'], sourceData['githubMasterBranch']
    );
});

function loadRepo(user, repo, branch) {
    var repoContainer = '<div class="code-repo-browse"><h5>Browse this repo</h5><div id="repo"></div></div>';
    $('#code-link-lists').addClass('code-repo-meta').before(repoContainer);
    $('#repo').repo({
        user: user,
        name: repo,
        branch: branch
    });
}
</script>
</div>
{% endif %}
{% endblock %}

