{% extends "articles/article_list.html" %}
{% block page_title %}Open Development Toolkit{% endblock %}

{% block article_class %}homepage{% endblock %}

{% block base_tagline %}
<p class="tagline">Tools and training around development data</p>

The Open Development Toolkit is a centralised hub around open development, bringing together tools and training materials with the aim of promoting use and re-use of online tools which make development data available. To begin with, the Toolkit will focus primarily on <b>aid data</b>, but we hope to move on to other areas of development data in the future.

<h3>Get started: what would you like to do?</h3>


<strong>I want to build a tool to make my organisation's data available</strong><br>
Check out the <a href="/resources/toolsdevelopers">Tools Developer Resources page.</a>
<br>
<br>
<strong>I'd like to dive into development data</strong><br>
Browse our curated <a href="/tools">Tools list</a>, and have a look at our (growing) <a href="/resources/training">training materials and resources for data users.</a>
<br>
<br>
<strong>I'm wondering - what is open development, anyway?</strong><br>
Learn more about open development with our <a href="/resources/learnmore">resources for newcomers</a>, and perhaps scrolling through <a href="/blog">the blog</a> will give you a good idea, too!
<br>
<br>
<strong>I work in international development - what can I do to incorporate open development practices into my work?</strong><br>
Get inspired by our <a href="/resources/practitioners">recommended resources for development practitioners.</a>
<br>
<br>
<strong>I work in Open Development, too!</strong><br>
Tell us what you're working on, and collaborate with the community! We welcome blog post contributions, and you can join <a href="/community/">the online Community</a> to make it easy for others to get in touch with you. If you'd like to join the online community - either as an individual, or with an organisational affiliation - fill in your details via <a href="https://docs.google.com/a/okfn.org/forms/d/1Ri0nloqLAaFQ3ucZism2A7cOM32w8o_GGUwaaK-74G0/viewform?usp=send_form">this form</a>. 
<br>
<br>
Any questions at all, or if you'd like to contribute a blog post, drop Zara Rahman, Project Lead, an email on <a href="mailto:zara@opendevtoolkit.net">zara[at]opendevtoolkit.net</a>.

{% endblock %}

{% block base_aside %}
<aside class="homepage">
    <a href="http://opendevtoolkit.net/en-US/tools/"><h2>Tools</h2></a>
    <ul class="orderswitch">
        {# for toggle switch once we being storing github data in db #}{#}
        <li class="active">New</li>
        <li>Updated</li>{#}
    </ul>
    <ul class="link-list">
        {% for code in homepage_code_list %}
        <li>
            <a href="{{ code.get_absolute_url() }}">{{ code.name|smartypants }}</a>
            {% with person_link_list = code.get_live_people_set() %}
            {% if person_link_list %}
            <span class="whoswho">
                <i class="icon-user"></i>{% for person in person_link_list %}<a href="{{ person.get_absolute_url() }}">{{ person.name()|smartypants }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
            </span>{% endif %}
            {% endwith %}
            {% with organization_link_list = code.get_live_organization_set() %}
            {% if organization_link_list %}
            <span class="whoswho">
                <i class="icon-cogs"></i>{% for organization in organization_link_list %}<a href="{{ organization.get_absolute_url() }}">{{ organization.name|smartypants }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
            </span>{% endif %}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}