{% extends "people/_base_organizations.html" %}

{% block content %}
<h1 class="maintopic">
     <a href="{{ url('person_list') }}">People</a> / <span class="category">Organisations</span>
</h1>

	<p>Here's a list of organisations who are working in the Open Development space; if you as an individual or an organisation would like to be added, or if you have updates to make to your organisation's tool list or articles, please fill in <a href="https://docs.google.com/a/okfn.org/forms/d/1Ri0nloqLAaFQ3ucZism2A7cOM32w8o_GGUwaaK-74G0/viewform">this form</a>. We also welcome blog posts, tool reviews, and other updates to the site; if you'd like to contribute, <a href ="mailto:zara@opendevtoolkit.net">drop us a line</a>- we'd love to hear from you!</p>

<div id="filterable-list">
{% for alpha in object_list|groupby('sort_letter') %}
    <div class="grouper-block filter-block">
        <h2 class="grouper-header"><span class="category">{{ alpha.grouper }}</span></h2>
        {% for organization in alpha.list %}
        <div class="grid-box space-below">
            <h3><a href="{{ organization.get_absolute_url() }}">{{ organization.name|smartypants }}</a></h3>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock content %}

{% block site_js_extra %}
<script src="{{ static('base/js/gridfilter.js') }}"></script>
{% endblock %}
